.p {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    line-height: 40vh;
    background-color: #36ba9b;
    transition: transform .2s;

  }
.p:hover{
  transform: scale(1.1);
}
  
a{
  color:white;
  font-weight: 400px;
  font-size: large;
  text-decoration: none;
  
}
  
  @media screen and (max-width: 480px) {
    .p {
      width: 40%;
      height: 20vh;
    }
  }
  